:root {
    --app-text-family: inherit;
    --app-text-size: 16pt;
}

textarea {
    font-family: var(--app-text-family);
    font-size: var(--app-text-size);
    
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top:20px;
    margin-bottom:20px;
    width: 800px;
    aspect-ratio: 10/3;
}

#diodes {
    font-family: var(--app-text-family);
    font-size: var(--app-text-size);
    
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.diode {
    background-color: rgb(200, 200, 200);
    padding: 4px;
    margin-right: 2px;
}
