.appContent {
    font-family: monospace;
    font-size: 16pt;
}

textarea {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top:20px;
    margin-bottom:20px;
    width: 800px;
    aspect-ratio: 10/3;
}

#diodes {
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.diode {
    border: 2px solid black;
    background-color: lightgray;
    padding: 4px;
    margin-right: 2px;
}
