textarea {
    font-family: monospace;
    font-size: 16pt;
    
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top:20px;
    margin-bottom:20px;
    width: 800px;
    aspect-ratio: 10/3;
}

#diodes {
    font-family: monospace;
    font-size: 16pt;
    
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.diode {
    background-color: rgb(200, 200, 200);
    padding: 4px;
    margin-right: 2px;
}
